<%= render 'shared/navbar' %>
<%= render 'shared/sidebar' %>
<!-- body -->
<div class="content-wrapper h-100">
    <section class="content">
      <div class="row">
        <!-- box col-12 -->
        <div class="col-sm-6 offset-md-4 mt-5">
          <div class="card card-secondary">
            <div class="card-header">
                レシート新規登録
            </div>
            <%= form_with(model: @receipt, url: user_receipts_path) do |form| %>
              <%= render partial: "form", locals: {form: form, receipt: @receipt} %>
            <% end %>
          </div>
        </div>
      </div>
    </section>
</div>